@model IEnumerable<IceCreamsShopping.Models.Stores>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .center-text {
        text-align: center;
    }
</style>

<h1 style="color:#000" class="section-title position-relative text-center mb-5">Stores</h1>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title center-text">@item.Name</h5>
                    <p class="card-text center-text">
                        <strong>כשרות:</strong> @item.Cosher<br />
                        <strong>כתובת:</strong> @item.Address<br />
                        <strong>מספר טלפון:</strong> @item.PhoneNumber
                    </p>
                
                </div>
            </div>
        </div>
    }
</div>

