@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>About</title>
</head>

<body>
    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <h1 style="color:#000" class="section-title position-relative text-center mb-5">A STYORY ABOUT</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 py-5">
                    <h5 class="text-muted mb-3">
                        The ice cream chain was established in 2012 and is owned by the Anita Group.
                        The story of the Anita group began in the home kitchen of Anita's mother, where she became known in the neighborhood for making homemade desserts and special pastries that over the years were integrated into the iconic flavors of the chain's ice creams. Nir, the younger brother, carefully designed the ice cream flavors and continued to develop unique flavors and products.
                        In 2002, he and his brother opened the first boutique store in the Neve Tzedek neighborhood in Tel Aviv, which later developed into an international ice cream parlor chain with about 20 branches in Israel and around the world.
                    </h5>
                </div>

                <div class="col-lg-4" style="min-height: 400px;">
                    <div class="position-relative h-100 rounded overflow-hidden">
                        <img class="position-absolute w-100 h-100" src="/img/about.jpg" style="object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
    <!-- Portfolio Start -->
    <div class="container-fluid py-5 px-0">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <h1 style="color:#000" class="section-title position-relative text-center mb-5">gallery</h1>
                </div>
            </div>
            <div class="row m-0 portfolio-container">
                <div class="col-lg-4 col-md-6 p-0 portfolio-item first">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="/img/portfolio-1.jpg" alt="">
                        <a class="portfolio-btn" href="/img/portfolio-1.jpg" data-lightbox="portfolio">
                            <i class="fa fa-plus text-primary" style="font-size: 60px;"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 p-0 portfolio-item second">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="/img/portfolio-2.jpg" alt="">
                        <a class="portfolio-btn" href="/img/portfolio-2.jpg" data-lightbox="portfolio">
                            <i class="fa fa-plus text-primary" style="font-size: 60px;"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 p-0 portfolio-item third">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="/img/portfolio-3.jpg" alt="">
                        <a class="portfolio-btn" href="/img/portfolio-3.jpg" data-lightbox="portfolio">
                            <i class="fa fa-plus text-primary" style="font-size: 60px;"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 p-0 portfolio-item first">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="/img/portfolio-4.jpg" alt="">
                        <a class="portfolio-btn" href="/img/portfolio-4.jpg" data-lightbox="portfolio">
                            <i class="fa fa-plus text-primary" style="font-size: 60px;"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 p-0 portfolio-item second">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="/img/portfolio-5.jpg" alt="">
                        <a class="portfolio-btn" href="/img/portfolio-5.jpg" data-lightbox="portfolio">
                            <i class="fa fa-plus text-primary" style="font-size: 60px;"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 p-0 portfolio-item third">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="/img/portfolio-6.jpg" alt="">
                        <a class="portfolio-btn" href="/img/portfolio-6.jpg" data-lightbox="portfolio">
                            <i class="fa fa-plus text-primary" style="font-size: 60px;"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio End -->


</body>
</html>


